.flex{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.bg-grey{
    background-color: #262b3a;
}
.invert{        
    filter: invert(1);
}
.border{
    border: 2px solid #262b3a;
    border-radius: 10px;
    margin: 4px;
}

.home ul li{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 20px;
    list-style: none;
}
.library{
    min-height: 50vh;
    position: relative;
}
.c-1 li{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 34px;
    list-style: none;
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.footer{
    position: relative;
    bottom: 5px;
    display: flex;
    gap: 8px;
    font-size: small;
    margin-left: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > *{
    padding: 10px;
}
.playlists h1{
    margin-left: 12px;
    color: white;
}
.cards{
    font-size: 10px;    
    width: 150px;
   
}
.cards img{
    width: 100%;
    object-fit: contain;
}
.cardContainer{
    
    overflow: scroll;
    max-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    overflow-x: hidden;
    gap: 35px;
}
.playbar{
    background-color: aliceblue;
    /* height: 40px; */
    min-height: 40px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 18px;
    background: #7b7c7f;
    padding-bottom: 12px;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 0; */
    width: 100%;
}
.trackName {
    width: 140px;
    margin: 0 18px;
}
.trackDuration{
    width: 100px;
    margin: 012px;
}
.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songBtns{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.right{
    position: relative;
}
.logo img{
    padding-left: 22px;
}
.songlist ul{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 50vh;
}
.songlist ul li{
    width: 250px;
    font-size: 12px;
    list-style-type: decimal;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
   
}

.songName {
    font-size: 15px;
    
}
.s-3{
    height: 24px;
    width: 24px;
    margin: 9px 0;
    padding:0 8px;
}
.login{
    background-color: #262b3a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup{
    background-color: white;
    color: #262b3a;
    border-radius: 18px;
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}
/* .line{
    height: 0px;
    border: 2px solid black;
    border-radius: 8px;
    width: 97%;
    position: relative;
    cursor: pointer;
    bottom: 13px;
    margin-left: 15px;
} */